<div style="width:1em">
    <div ng-click="openReport()" class="ll-ptrhand" tooltip-popup-delay='1000' tooltip="{{ 'PDF.COMMENT.TOOLTIP' | translate }}">
    <i class="fa fa-file-o"></i>
    <i class="fa fa-comments-o" style="font-size:60%;position:relative;right:1.5em;bottom:0.1em;"></i>
    </div>
</div>
