<div class="ll-langinfo flexcnt-r">
    <div ng-repeat="lang in langinfo.languages" class="ll-lang flexitem-0 ll-ptrhand" ng-class="{ 'll-langsel': langinfo.selected === lang.code }" ng-click="select($index)"><!--span class="ll-langfkey">F{{$index+5}}</span-->{{lang.name}} <i ng-class="'fa fa-fw fa-'+((model[lang.code] != null && model[lang.code].length > 0) ? 'check text-success' : 'times text-danger')"></i></div>
</div>