<div class="ll-mainview">
    <div class="ll-mainpane flexcnt ll-fullwidth ll-fullheight">
        <form role="form" class="ll-errorbox flexvcnt" ng-submit="login()">
            <div class="flexitem-0 ll-title" ng-show="errCode != 'TIMEOUT' && errCode != 'ACCDENY'" translate>ERROR.CLIENT.TITLE</div>
            <div class="flexitem-0 ll-title" ng-show="errCode === 'TIMEOUT'" translate>ERROR.CLIENT.TOTTL</div>
            <div class="flexitem-0 ll-title" ng-show="errCode === 'ACCDENY'" translate>ERROR.CLIENT.ADTTL</div>
            <div class="flexspace-l"></div>
            <div class="flexitem-0 flexwrap ll-label">{{ 'ERROR.CLIENT.MSG.'+errCode | translate }}</div>
            <div class="flexspace-m" ng-show="errordetails"></div>
            <div class="flexitem-0 ll-label flexwrap" ng-show="errordetails" translate>ERROR.CLIENT.DETAILS</div>
            <div class="flexitem-1 ll-details flexwrap" ng-show="errordetails">{{ errordetails }}</div>
            <div class="flexspace-l"></div>
            <div class="flexcnt-r flexitem-0">
                <button type="button" class="btn btn-primary flexitem-fix150 ll-button" ng-click="leave()"><i class="fa fa-chevron-left"></i> <span translate>ERROR.CLIENT.BACK</span></button>
            </div>
        </form>
    </div>
</div>
