<div id="modalimageviewer" class="modal-body flexvcnt ll-editpanel ll-editpanel-inmodal" draggabilly="{ containment: 'body', handle: '.ll-header', parent: 1 }"  >
    <div class="flexitem-0 ll-header flexcnt">
        <div class="flexitem-0">{{ 'VIEWER.IMAGE.TITLE' | translate }}</div>
        <div class="flexspace-m"></div>
        <div class="flexitem-1 ll-subheader flexbottom">{{ title }}</div>
        <div class="flexspace-m"></div>
        <div class="flexitem-0 text-danger flexcenter ll-ptrhand" ng-click="close()"><i class="fa fa-times-circle"></i></div>
    </div>
    <div id="fullpane" class="flexitem-1 ll-body ll-imagepane flexcnt-c">
        <div class="flexvcnt-c flexitem-0">
            <div class="ll-image" ng-style="{ 'margin-right': image.padleft, 'margin-bottom': image.padtop, 'margin-left': image.padleft, 'margin-top': image.padtop }">
                <img id="zoombigimg" width="{{image.width}}" height="{{image.height}}" zoomable-image="zoomableImageOptions" ng-src="{{image.path}}" zoom-image-src="selectedZoomImage"/>
            </div>
        </div>
    </div>
</div>
