.ll-loginbox {
  font-size:medium;
  width:600px;
  height:300px;
  padding:10px;
  background-color: #ffffff;
  margin:auto;
  border: 1px solid #002a80;
  box-shadow: 0.4em 0.4em 1em gray;
  .ll-label {
    font-size:140%;
    font-style:normal;
    font-weight:300;
    text-align:right;
    margin:0px 0px 0px 0px;
    padding-top:5px;
  }
  .ll-title {
    font-size:180%;
    font-style:normal;
    font-weight:400;
    text-align:right;
    border-bottom: 2px solid @theme-color;
    color: @theme-color;
    padding: 0px 10px 5px 10px;
  }
  .ll-input {
    font-size:140%;
    font-style:italic;
    font-weight:200;
  }
  .ll-button {
    font-size:100%;
    font-style:normal;
    font-weight:300;
  }
}

.ll-loginboxmob {
  font-size:medium;
  background-color: lighten(@theme-color, 60%);
  margin: 20px 0px 0px 0px;
  padding: 5px 15px 5px 15px;
  border-top: 2px solid @theme-color;
  border-bottom: 2px solid @theme-color;
  .ll-label {
    .flexcenter;
    font-size:120%;
    font-weight: 300;
  }
  .ll-title {
    .flexcenter;
    font-size:140%;
    font-style:italic;
    font-weight: 500;
    color:@theme-color;
  }
  .ll-input {
    font-size:120%;
    font-weight: 400;
  }
  .ll-button {
  }
}

.ll-errorbox {
  font-size:medium;
  width:600px;
  height:500px;
  padding:10px;
  background-color: #ffffff;
  margin:auto;
  border: 1px solid #802a00;
  box-shadow: 0.4em 0.4em 1em gray;
  .ll-label {
    font-size:140%;
    font-style:normal;
    font-weight:300;
    text-align:left;
    margin:0px 0px 0px 0px;
    padding-top:5px;
  }
  .ll-details {
    font-size:90%;
    font-style:normal;
    font-weight:200;
    text-align:left;
    margin:0px;
    padding:5px;
    border:1px solid #ff8080;
    font-family: monospace;
    white-space: pre;
    overflow-y: auto !important;
    overflow-x: auto !important;
  }
  .ll-title {
    font-size:180%;
    font-style:normal;
    font-weight:400;
    text-align:right;
    border-bottom: 2px solid #800000;
    color: 800000;
    padding: 0px 10px 5px 10px;
  }
  .ll-button {
    font-size:100%;
    font-style:normal;
    font-weight:300;
  }
}

