.ll-listpanel {
  .ll-header {
    .ll-stepsubheader {
      font-size: 70%;
      font-weight: 300;
      .ll-stepversion {
        font-style: italic;
        font-weight: 200;
      }
    }
  }
  .ll-body .ll-item .ll-title {
    .ll-unitcustomer {
      font-style: italic;
      font-weight: 200;
      margin-left: 10px;
    }
    .ll-unitcheckcnt {
      font-size: 80%;
      font-weight: 300;
      margin-left: 10px;
    }
  }
}

.ll-viewpanel .ll-list .ll-body .ll-item {
  .ll-unittitle {
    font-size:120%;
    font-style:normal;
    font-weight:200;
    .ll-unitchecktype {
      font-style:normal;
      font-weight:400;
    }
  }
  .ll-unitcheckdata {
    font-size:100%;
    font-style:normal;
    font-weight:300;
  }
  .ll-unitusedversion {
    font-size:80%;
    font-style:italic;
    font-weight:300;
  }
}

.ll-editpanel .ll-body {
  .ll-block {
    .ll-measuresubkey, .ll-noticesubkey {
      font-style: normal;
      font-weight: 300;
      margin: 5px 10px 0px 15px;
      color: @theme-color;
      .flexitem-0();
    }
    .ll-measureplusminus {
      margin: 0px 0px 0px 1px;
    }
    .ll-measurepmtext {
      padding: 0px;
      font-size: 120%;
      text-align: center;
    }
    .ll-noticesmallsubkey {
      font-style: normal;
      font-size: 80%;
      font-weight: 200;
      margin: 5px 10px 0px 15px;
      color: @theme-color;
      .flexitem-0();
    }
    .ll-noticesmallcombo {
      font-size: 80%;
      //padding: 0px;
      margin: 3px 0px 0px 0px;
      height: 22px;
    }
  }
  .ll-matrix {
    .ll-mxetitleedit {
      background-color: lighten(@theme-color, 63%);
      .ll-ptrhand;
    }
    .ll-mxetitleedit:hover {
      background-color: lighten(@theme-color, 55%);
    }
    .ll-mxetitleeditempty {
      color: white;
      background-color: lighten(@theme-color, 63%);
      .ll-ptrhand;
    }
    .ll-mxetitleeditempty:hover {
      background-color: lighten(@theme-color, 55%);
    }
    .ll-mxetitleeditsel {
      background-color: lighten(@theme-color, 40%);
    }
  }
  .ll-mxeedithdr {
    margin: 20px 0px 5px 0px;
    font-size:normal;
    font-weight:200;
    font-style:italic;
  }
  .ll-mxeeditfield {
    font-size:normal;
    font-weight:300;
  }
}

